page-senhamodal {
  .background{
    /*background-color: #008080;
    box-shadow: inset 0px 0px 60vw black;*/
    background-image: url(../img/background11.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header button{
    color:white;
    text-shadow: 0px 0px 4px black;
  }

  .header::after {
    background-image: none;
    background-color: transparent;
    border: none;
  }

  .toolbar {
    .toolbar-background {
        background-color: transparent;
        border: none;
    }.toolbar::after{
      border:none;
    }
  }

  .toolbar-title{
    color:white;
    background-color: transparent;
    text-shadow: 0px 0px 4px black;
  }

}
