<ion-header class="header">
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            Perfil
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background">
    <ion-row>
        <ion-col>
        </ion-col>
        <ion-col class="divfoto">
            <div class="foto">
            </div>
            <h3>Gustavo Andrade</h3>
        </ion-col>
        <ion-col>
        </ion-col>
    </ion-row>

    <!--SELEÇÃO DE TIMELINE E NÚMERO DE MENSAGENS-->

    <ion-row class="rowconfig">
        <!--<button ion-button icon-left block color="light" class="buttonconfig" (click)="getConfig()"><ion-icon start name="settings"></ion-icon>Configurações</button>-->
        <ion-col class="colconfig">
            <button ion-button clear small block [color]="!buttonClicked1 ? 'gray' : 'white'" (click)="isButtonToggle(1)">100 Enviadas</button>
        </ion-col>
        <ion-col>
            <button ion-button clear small block [color]="!buttonClicked2 ? 'gray' : 'white'" (click)="isButtonToggle(2)">50 Recebidas</button>
        </ion-col>
    </ion-row>

    <!--CARDS TIMELINE-->

    <ion-list>
        <enviouTemplate [cardEnviou]="enviouCard" *ngIf="buttonClicked1"></enviouTemplate>
        <recebeuTemplate [cardRecebeu]="recebeuCard" *ngIf="buttonClicked2"></recebeuTemplate>
    </ion-list>


</ion-content>
