page-feed {
  .background{
    background-image: url(../img/background6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*box-shadow: inset 0px 0px 150px 35px black;*/
}

.header button{
    color:white;
}

.toolbar {
    .toolbar-background {
        background: transparent;
    }
}

.button-clear{
  text-shadow: 0px 0px 4px black;
}

.toolbar-title{
    color:white;
    text-shadow: 0px 0px 4px black;
}

.header::after {
background-image: none;
}

.top{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.bottom{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

.buttonrad{
  border-radius:5px;
}

}
