page-config {
  .background{
    /*background-color: #008080;
    box-shadow: inset 0px 0px 60vw black;*/
    background-image: url(../img/background22.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header button{
    color:white;
    text-shadow: 0px 0px 4px black;
  }

  .header::after {
    background-image: none;
    background-color: transparent;
    border: none;
  }

  .toolbar {
    .toolbar-background {
        background-color: transparent;
        border: none;
    }.toolbar::after{
      border:none;
    }
  }

  .divfoto{
    text-align: center;
    text-shadow: 0px 0px 4px black;
    color: #FFFFFF;
  }

  .foto{
    border-radius:50%;
    height:40vw;
    width:40vw;
    border:2px solid #ffffff;
    background-image:url(../img/gus2016.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .toolbar-title{
    color:white;
    text-shadow: 0px 0px 4px black;
  }

  .top{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  }

  .bottom{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  }
}
